/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        dwm_term: dwm_term {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                    , <&macro_press &kp LALT>
                    , <&macro_tap &kp ENTER>
                    , <&macro_release &kp LALT>
                    , <&macro_release &kp LSHFT>
                    ;
        };

        dwm_swap: dwm_swap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp ENTER>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_run: dwm_run {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp P>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_next: dwm_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp J>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_prev: dwm_prev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp K>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_tag_one: dwm_tag_one {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp N1>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_tag_two: dwm_tag_two {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp N2>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_tag_three: dwm_tag_three {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp N3>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_tag_four: dwm_tag_four {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp N4>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_to_tag_one: dwm_to_tag_one {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_press &kp LSHFT>
                    , <&macro_tap &kp N1>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_to_tag_two: dwm_to_tag_two {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_press &kp LSHFT>
                    , <&macro_tap &kp N2>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_to_tag_three: dwm_to_tag_three {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_press &kp LSHFT>
                    , <&macro_tap &kp N3>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_to_tag_four: dwm_to_tag_four {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_press &kp LSHFT>
                    , <&macro_tap &kp N4>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_close: dwm_close {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_press &kp LSHFT>
                    , <&macro_tap &kp C>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_quit: dwm_quit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_press &kp LSHFT>
                    , <&macro_tap &kp Q>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_inc_msize: dwm_inc_msize {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp L>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_dec_msize: dwm_dec_msize {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp H>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_layout_tile: dwm_layout_tile {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp T>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_layout_monocle: dwm_layout_monocle {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp M>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_layout_bstack: dwm_layout_bstack {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp U>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_focus_nscreen: dwm_focus_nscreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp DOT>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_send_nscreen: dwm_send_nscreen {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_press &kp LSHFT>
                    , <&macro_tap &kp DOT>
                    , <&macro_release &kp LSHFT>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_inc_master_count: dwm_inc_master_count {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp I>
                    , <&macro_release &kp LALT>
                    ;
        };

        dwm_dec_master_count: dwm_dec_master_count {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                    , <&macro_tap &kp D>
                    , <&macro_release &kp LALT>
                    ;
        };
        
        theway_edit: theway_edit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                    , <&macro_tap &kp RIGHT>
                    , <&macro_release &kp LSHFT>
                    ;
        };

        theway_del: theway_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                    , <&macro_tap &kp LEFT>
                    , <&macro_release &kp LSHFT>
                    ;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        // 0
        default_layer {
            bindings = <
   &kp TAB   &kp Q &kp W   &kp E     &kp R &kp T               &kp Y     &kp U &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S   &lt 6 D   &kp F &kp G               &kp H     &kp J &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X   &kp C     &kp V &kp B               &kp N     &kp M &kp COMMA &kp DOT &kp FSLH &kp ESC
                           &lt 5 ESC &mo 1 &mt LCTRL SPACE     &kp LSHFT &mo 2 &kp BSPC
            >;
        };

        // 1
        number_layer {
            bindings = <
   &trans &kp FSLH &kp STAR  &kp PLUS &kp MINUS &kp COMMA    &kp COMMA &kp N7 &kp N8 &kp N9 &kp N0   &trans
   &trans &bt LALT &bt GRAVE &bt TAB  &bt LCTRL &bt SPACE    &kp EQUAL &kp N4 &kp N5 &kp N6 &kp SEMI &trans
   &trans &trans   &trans    &trans   &trans    &trans       &trans    &kp N1 &kp N2 &kp N3 &kp DOT  &trans
                             &trans   &trans    &kp SPACE    &mo 2     &mo 3  &kp BSPC
            >;
        };

        // 2
        special_layer {
            bindings = <
   &trans &theway_edit &kp TILDE &kp LBKT &kp RBKT &kp CARET    &kp UNDER &kp LT   &kp SLASH &kp GT  &kp DEL &trans
   &trans &theway_del  &kp GRAVE &kp LPAR &kp RPAR &kp DLLR     &kp EQUAL &kp LBRC &kp RBRC  &kp SQT &kp DQT &trans
   &trans &kp LGUI     &kp EXCL  &kp AT   &kp HASH &kp PRCNT    &kp AMPS  &kp BSLH &kp PIPE  &trans  &trans  &trans
                                 &trans   &mo 4    &kp SPACE    &trans    &trans   &kp BSPC 
            >;
        };

        // 3
        arrow_layer {
            bindings = <
   &trans &trans &trans &kp PG_UP &kp PG_DN &trans    &trans   &kp HOME &kp END  &trans    &trans &trans
   &trans &trans &trans &trans    &trans    &trans    &kp LEFT &kp DOWN &kp UP   &kp RIGHT &trans &trans
   &trans &trans &trans &trans    &trans    &trans    &trans   &trans   &trans   &trans    &trans &trans
                        &trans    &trans    &trans    &trans   &trans   &kp BSPC 
            >;
        };

        // 4
        fn_layer {
            bindings = <
   &trans &trans &kp C_VOL_DN &kp C_MUTE &kp C_VOL_DN &trans    &trans &kp F9 &kp F10 &kp F11 &kp F12 &trans
   &trans &trans &kp C_PREV   &kp C_PP   &kp C_NEXT   &trans    &trans &kp F5 &kp F6  &kp F7  &kp F8  &trans
   &trans &trans &trans       &trans     &trans       &trans    &trans &kp F1 &kp F2  &kp F3  &kp F4  &trans
                              &trans     &trans       &trans    &trans &trans &kp BSPC 
            >;
        };

        // 5
        mouse_keys_layer {
            bindings = <
   &trans &trans      &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
   &trans &trans      &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
   &trans &bootloader &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
                             &trans &trans &trans    &trans &trans &trans
            >;
        };

        // 6
        dwm_layer {
            bindings = <
   &trans &trans &dwm_send_nscreen &dwm_layout_bstack &dwm_layout_monocle   &dwm_layout_tile          &trans         &dwm_term    &trans       &dwm_run       &dwm_close    &trans
   &trans &trans &trans            &trans             &trans                &dwm_focus_nscreen        &dwm_dec_msize &dwm_next    &dwm_prev    &dwm_inc_msize &dwm_swap     &trans
   &trans &trans &trans            &trans             &dwm_dec_master_count &dwm_inc_master_count     &trans         &dwm_tag_one &dwm_tag_two &dwm_tag_three &dwm_tag_four &trans
                                   &trans             &trans                &mo 7                     &trans         &trans       &trans
            >;
        };

        // 7
        dwm_alt_layer {
            bindings = <
   &trans &dwm_quit &trans &trans &trans &trans    &trans &trans          &trans          &trans            &trans           &trans
   &trans &trans    &trans &trans &trans &trans    &trans &trans          &trans          &trans            &trans           &trans
   &trans &trans    &trans &trans &trans &trans    &trans &dwm_to_tag_one &dwm_to_tag_two &dwm_to_tag_three &dwm_to_tag_four &trans
                           &trans &trans &trans    &trans &trans          &trans
            >;
        };

        empty_layer {
            bindings = <
   &trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
   &trans &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
                        &trans &trans &trans    &trans &trans &trans
            >;
        };
    };
};
