/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // 0
        default_layer {
            bindings = <
   &kp TAB   &kp Q &kp W   &kp E     &kp R &kp T               &kp Y     &kp U &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S   &lt 6 D   &kp F &kp G               &kp H     &kp J &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X   &kp C     &kp V &kp B               &kp N     &kp M &kp COMMA &kp DOT &kp FSLH &kp ESC
                           &lt 5 ESC &mo 1 &mt LCTRL SPACE     &kp LSHFT &mo 2 &kp BSPC
            >;
        };

        // 1
        number_layer {
            bindings = <
   &none &kp FSLH &kp STAR  &kp PLUS &kp MINUS &kp COMMA    &kp COMMA &kp N7 &kp N8 &kp N9 &kp N0   &none
   &none &bt LALT &bt GRAVE &bt TAB  &bt LCTRL &bt SPACE    &kp EQUAL &kp N4 &kp N5 &kp N6 &kp SEMI &none
   &none &none   &none    &none   &none    &none       &none    &kp N1 &kp N2 &kp N3 &kp DOT  &none
                             &none   &none    &kp SPACE    &mo 2     &mo 3  &kp BSPC
            >;
        };

        // 2
        special_layer {
            bindings = <
   &none &kp LS(RIGHT) &kp TILDE &kp LBKT &kp RBKT &kp CARET    &kp UNDER &kp LT   &kp SLASH &kp GT  &kp DEL &none
   &none &kp LS(LEFT)  &kp GRAVE &kp LPAR &kp RPAR &kp DLLR     &kp EQUAL &kp LBRC &kp RBRC  &kp SQT &kp DQT &none
   &none &kp LGUI     &kp EXCL  &kp AT   &kp HASH &kp PRCNT    &kp AMPS  &kp BSLH &kp PIPE  &none  &none  &none
                                 &none   &mo 4    &kp SPACE    &none    &none   &kp BSPC 
            >;
        };
    };
};
